{% extends "base_menu.html" %}
{% load static %}


{% block body %}
    <div class="ll">
        <form action="" method="post">
            {% csrf_token %}
            <div>
                {{ form.competition }}
            </div>
            <div>
                <input type="submit" class="shine-button" name="CreatingCompetition">
            </div>
        </form>
    </div>
{% endblock body %}
{% block classtitle2 %}
{% endblock classtitle2 %}
{% block bdclass %}bg_con{% endblock bdclass %}
{% block div_class %}ll{% endblock div_class %}

{% block title2 %}
    Начать соревнования
{% endblock title2 %}

</body>
</html>