{% extends "base_comp.html" %}
{% block header %}
 <script>
   {#var a={{ in_categories }};#}
   var a='555';
     window.onload = function() {
    alert('Page is loaded');

    $("#55m").text(a)


    };


    </script>

    <div class="menu">
        <a href="{% url '55m' %}" id="55m" class="floating-button">55м</a>
        <a href="{% url '60m' %}" class="{{ no_active_60m }} floating-button">60м</a>
        <a href="{% url '65m' %}" class={{ no_active_65m }} "floating-button">65м</a>
        <a href="{% url '70m' %}" class={{ no_active_60m }} "floating-button">70м</a>
        <a href="{% url '75m' %}" class={{ no_active_75m }} "floating-button">75м</a>
        <a href="{% url '80m' %}" class="{{ no_active_80m }} floating-button">80м</a>
        <a href="{% url '85m' %}" class="{{ no_active_85m }} floating-button">85м</a>
        <a href="{% url '90m' %}" class="{{ no_active_90m }} floating-button">90м</a>
        <a href="{% url '100m' %}" class="{{ no_active_100m }} floating-button">100м</a>
        <a href="{% url '110m' %}" class="{{ no_active_110m }} floating-button">110м</a>
        <a href="{% url '+110m' %}" class="{{ no_active_plus110 }} floating-button">+110м</a>
    </div>
    <div class="menu">
        <a href="{% url '50w' %}" class="floating-button">50ж</a>
        <a href="{% url '55w' %}" class="floating-button">55ж</a>
        <a href="{% url '60w' %}" class="floating-button">60ж</a>
        <a href="{% url '65w' %}" class="floating-button">65ж</a>
        <a href="{% url '70w' %}" class="floating-button">70ж</a>
        <a href="{% url '75w' %}" class="floating-button">75ж</a>
        <a href="{% url '80w' %}" class="floating-button">80ж</a>
        <a href="{% url '+80w' %}" class="floating-button">+80ж</a>
        <a href="{% url '+80w' %}" class="floating-button">+80ж</a>
    </div>
    <h1>{{ title }} {{ current_category }}</h1>
    <h1 style="display: {{ alert }}">КАТЕГОРИЯ НЕ ПРЕДСТАВЛЕНА</h1>
{% endblock header %}

{% block winneronel %}winnerisonel{% endblock winneronel %}
{% block winnertwol %}winneristwol{% endblock winnertwol %}

{% block winneroner %}winnerisoner{% endblock winneroner %}
{% block winnertwor %}winneristwor{% endblock winnertwor %}




