{% extends "base_menu.html" %}
{% load static %}
{% block class_menu_main %}li_uncolor{% endblock class_menu_main %}
{% block class_menu_reg %}li_uncolor{% endblock class_menu_reg %}
{% block class_menu_start %}li_color{% endblock class_menu_start %}
{% block class_menu_reg_sp %}li_uncolor{% endblock class_menu_reg_sp %}
{% block class_menu_protocol %}li_uncolor{% endblock class_menu_protocol %}

{% block body %}
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <div>
                {{ form.competition }}
            </div>
            <div>
                <input type="submit" class="gradient-button" name="CreatingCompetition">
            </div>
        </form>
    </div>
{% endblock body %}
{% block classtitle2 %}
{% endblock classtitle2 %}
{% block bdclass %}bg_con{% endblock bdclass %}
{% block div_class %}ll{% endblock div_class %}

{% block title2 %}
    <h2 class="white_color h224" ></h2>
{% endblock title2 %}
