{% extends "base_menu.html" %}
{% load static %}
{% block class_menu_main %}li_color{% endblock class_menu_main %}
{% block class_menu_reg %}li_uncolor{% endblock class_menu_reg %}
{% block class_menu_start %}li_uncolor{% endblock class_menu_start %}
{% block class_menu_reg_sp %}li_uncolor{% endblock class_menu_reg_sp %}
{% block class_menu_protocol %}li_uncolor{% endblock class_menu_protocol %}





{% block title %}Главная страница {% endblock title %}
{% block bdclass %}bg_index {% endblock bdclass %}

{% block body %}
{#<img src='{% static "img/hands.jpeg" %}' width=100% height=100%>#}


{% endblock body %}

</html>