{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <title>Главная страница</title>

</head>
<body>
{#    <h1> Уважаемые дамы и те кто не красит ногти на ногах, представляем к вниманию: {{ title }} представлены следующие категории</h1>#}
<h1> рабочее главное меню</h1>
<a href="{% url 'rc' %}" class="links">Регистрация турнира</a>
<br>
<a href="cmp" class="links">старт турнира</a>
<br>
<a href="{% url 'rs' %}" class="links">Регистрация спортсмена</a>
<br>
{#{% for i in is_categories %}#}
{#    <a href="i/" class="links">Категория {{ i }}</a>#}
{##}
{#    <br>#}
{#{% endfor %}#}

</body>
</html>