{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <title>Главная страница</title>

</head>
<body>

<h1> рабочее главное меню</h1>
<a href="{% url 'rc' %}" class="links">Регистрация турнира</a>
<br>
<a href="crt" class="links">старт турнира</a>
<br>
<a href="{% url 'rs' %}" class="links">Регистрация спортсмена на соревнование</a>
<br>
<a href="{% url 'pc' %}" class="links">Протоколы</a>
<br>
{#{% for i in is_categories %}#}
{#    <a href="i/" class="links">Категория {{ i }}</a>#}
{##}
{#    <br>#}
{#{% endfor %}#}

</body>
</html>