{% extends "base_menu.html" %}
{% load static %}
{% block title2 %}
{% endblock title2 %}
{% block body %}
<div>
    <p class="{{ vis }}">Турнир: {{ competition }} </p>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            {{ form.competition}}
        </div>

        <div>
            <input type="submit" name="123" class="gradient-button">
        </div>
    </form>
</div>
<p style="margin-left: 20%; margin-top: 0" class="white_color {{ vis_m }} h224" >Мужчины</p>
{% for cat,i in all_results_m.items %}
    <p class="white_color mb0 mt0">{{ cat }}</p>
    <table class="table">
        <tr>
            <th class="td_place">М</th>
            <th class="td_name">Фамилия, Имя</th>
            <th class="td_kval">Кв</th>
            <th class="td_command">Команда</th>
            <th class="td_place">Л</th>
            <th class="td_points">Л_оч</th>
            <th class="td_place">П</th>
            <th class="td_points">П_оч</th>
            <th class="td_points">сум</th>
            <th class="td_points">вес</th>
        </tr>
    </table>
    {% for j in i %}
        <table class="table">

            <tr>
                <td class="td_place"> {{ j.sum_place }} </td>
                <td class="td_name"> {{ j.sportsmen.name }} </td>
                <td class="td_kval"> {{ j.sportsmen.grade }} </td>
                <td class="td_command"> {{ j.sportsmen.team }} </td>
                <td class="td_place"> {{ j.left_place }} </td>
                <td class="td_points"> {{ j.points_left }} </td>
                <td class="td_place"> {{ j.right_place }} </td>
                <td class="td_points"> {{ j.points_right }} </td>
                <td class="td_points"> {{ j.points }} </td>
                <td class="td_points"> {{ j.weight_actual}} </td>
            </tr>
        </table>
    {% endfor %}
{% endfor %}
<p style="margin-left: 20%; margin-top: 0" class=" {{ vis_w }} h224">Женщины</p>

{% for cat,i in all_results_w.items %}
    <p class="white_color mb0">{{ cat }}</p>
    <table class="table">
        <tr>
            <th class="td_place">М</th>
            <th class="td_name">Фамилия, Имя</th>
            <th class="td_kval">Кв</th>
            <th class="td_command">Команда</th>
            <th class="td_place">Л</th>
            <th class="td_points">Л_оч</th>
            <th class="td_place">П</th>
            <th class="td_points">П_оч</th>
            <th class="td_points">сум</th>
             <th class="td_points">вес</th>
        </tr>
    </table>
    {% for j in i %}
        <table class="table">

            <tr>
                <td class="td_place"> {{ j.sum_place }} </td>
                <td class="td_name"> {{ j.sportsmen.name }} </td>
                <td class="td_kval"> {{ j.sportsmen.grade }} </td>
                <td class="td_command"> {{ j.sportsmen.team }} </td>
                <td class="td_place"> {{ j.left_place }} </td>
                <td class="td_points"> {{ j.points_left }} </td>
                <td class="td_place"> {{ j.right_place }} </td>
                <td class="td_points"> {{ j.points_right }} </td>
                <td class="td_points"> {{ j.points }} </td>
                <td class="td_points"> {{ j.weight_actual}} </td>
            </tr>
        </table>
    {% endfor %}
{% endfor %}
{% endblock body %}
{% block bdclass %}bg_prot{% endblock bdclass %}

{% block class_menu_main %}li_uncolor{% endblock class_menu_main %}
{% block class_menu_reg %}li_uncolor{% endblock class_menu_reg %}
{% block class_menu_start %}li_uncolor{% endblock class_menu_start %}
{% block class_menu_reg_sp %}li_uncolor{% endblock class_menu_reg_sp %}
{% block class_menu_protocol %}li_color{% endblock class_menu_protocol %}
{% block class_menu_new_sportsmen %}li_uncolor{% endblock class_menu_new_sportsmen %}
