{% extends "base_menu.html" %}
{% load static %}
{% block class_menu_main %}li_uncolor{% endblock class_menu_main %}
{% block class_menu_reg %}li_uncolor{% endblock class_menu_reg %}
{% block class_menu_start %}li_uncolor{% endblock class_menu_start %}
{% block class_menu_reg_sp %}li_color{% endblock class_menu_reg_sp %}
{% block class_menu_protocol %}li_uncolor{% endblock class_menu_protocol %}
{% block class_menu_new_sportsmen %}li_uncolor{% endblock class_menu_new_sportsmen %}
{% block class_login %}{{ login }}{% endblock class_login %}
{% block class_logout %}{{ logout }}{% endblock class_logout %}
{% block class_profile %}{{ profile }}{% endblock class_profile %}
{% block title2 %}
{% endblock title2 %}
{% block body %}
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <div>
                {{ form.competition }}
                {{ form.sportsmen }}
            </div>
            <div>
                <input type="submit" name="SubmitDel" class="gradient-button" value="Регистрация">
            </div>

        </form>
    </div>
{% endblock body %}
{% block bdclass %}bg_reg2{% endblock bdclass %}
